// Modal
form#new_user_form.form-horizontal(
name="newUserForm",
role='form',
ng-submit="updateUser(newUserForm.$valid)",
novalidate)
  .modal-header
    button.close(type='button', data-dismiss='modal')
      span(aria-hidden='true' ng-click="cancel()") ×
      span.sr-only Close
    h4#myModalLabel.modal-title
      | Lets add a new user!
  // Modal Body
  .modal-body
    .alert.alert-danger(ng-show="formIsNotValid")
      strong Please Fix User Input!
    .form-group(ng-class="{ 'has-error' : newUserForm.first_name.$invalid && newUserForm.first_name.$touched }")
      label.col-sm-2.control-label(for='first_name') First Name
      .col-sm-10
        input#first_name.form-control(
          name="first_name",
          required,
          type='text',
          placeholder='First Name',
          ng-model="user.user_data.first_name")
        small.text-muted(ng-show="newUserForm.first_name.$invalid && newUserForm.first_name.$touched")
          | Please enter a first name for the user.
    .form-group(ng-class="{ 'has-error' : newUserForm.last_name.$invalid && newUserForm.last_name.$touched }")
      label.col-sm-2.control-label(for='last_name') Last Name
      .col-sm-10
        input#last_name.form-control(
          name="last_name",
          required,
          type='text',
          placeholder='Last Name',
          ng-model="user.user_data.last_name")
        small.text-muted(ng-show="newUserForm.last_name.$invalid && newUserForm.last_name.$touched")
          | Please enter a last name for the user.
    .form-group(ng-class="{ 'has-error' : newUserForm.y_code.$invalid && newUserForm.y_code.$touched }")
      label.col-sm-2.control-label(for='y_code') Y Code
      .col-sm-10
        input#y_code.form-control(
          name="y_code"
          required,
          type='text',
          placeholder='Y Code',
          ng-model="user.user_data.y_code")
        small.text-muted(ng-show="newUserForm.y_code.$invalid && newUserForm.y_code.$touched")
          | Please enter a y code for the user.
    .form-group
      label.col-sm-2.control-label(for='is_active') Is User Active?
      .col-sm-10
        input#is_active(bs-switch
          type="checkbox"
          switch-active="{{ isActive }}"
          switch-on-text="{{ onText }}"
          switch-off-text="{{ offText }}"
          switch-on-color="{{ onColor }}"
          switch-off-color="{{ offColor }}"
          switch-animate="{{ animate }}"
          switch-size="{{ size }}"
          switch-label="{{ label }}"
          switch-icon="{{ icon }}"
          switch-radio-off="{{ radioOff }}"
          switch-label-width="{{ labelWidth }}"
          switch-handle-width="{{ handleWidth }}"
          switch-wrapper="{{ wrapper }}"
          ng-true-value= '1'
          ng-false-value= '0'
          ng-model="user.user_data.active")

  // Modal Footer
  .modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal', ng-click="cancel()")
      | Close
    button.btn.btn-success(type="submit")
      | Update User!
